html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: "Figtree", sans-serif;
  background: #f4d04e;
  display: flex;
  align-items: center;
  justify-content: center;
}
.card-container {
  box-sizing: border-box;
  width: 384px;
  height: 522px;
  background: #ffffff;
  padding: 23px;
  border-radius: 20px;
  box-shadow: 9px 9px #111;
  border: 1px solid #111;

  @media (max-width: 375px) {
    width: 327px;
    height: 501px;
  }
}
.card-container img {
  border-radius: 10px;
  /* height: 200px; */
  width: 100%;
  display: block;
}
.text-container {
  margin: 24px 0px;
  display: flex;
  flex-direction: column;
  gap: 12px;
  align-items: flex-start;
}
.blog-tag {
  background: #f4d04e;
  box-sizing: border-box;
  padding: 4px 12px;
  border-radius: 4px;
  font-size: 14px;
  font-weight: 800;
  height: 29px;
}
.blog-date {
  margin: 0;
  font-size: 14px;
  font-weight: 600;
  line-height: 1.5;
}
.blog-heading {
  margin: 0;
  font-size: 24px;
  line-height: 1.5;
  font-weight: 800;
}
.blog-title {
  margin: 0;
  font-weight: 800;
  font-size: 24px;
  text-decoration: none;
  color: #111;
}
.blog-title:hover {
  color: #f4d04e;
  cursor: pointer;
}
.blog-description {
  margin: 0;
  font-size: 16px;
  color: #7f7f7f;
  font-weight: 500;
  line-height: 1.5;
}
.avatar-container {
  display: flex;
  align-items: center;
  gap: 12px;
}
.avatar-container img {
  height: 32px;
  width: 32px;
}
.avatar-container p {
  font-weight: 800;
  margin: 0;
  text-align: center;
  font-size: 14px;
}
